/* Base styles for mobile devices */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .section-container {
    flex-direction: column;
    padding: 1rem;
  }

  .about-details-container, .experience-details-container {
    flex-direction: column;
  }

  .details-container {
    margin: 0.5rem 0;
  }

  .btn-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .card__container {
    grid-template-columns: 1fr;
  }
}

/* Styles for larger tablets and smaller laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section-container {
    padding: 1.5rem;
  }

  .btn-container {
    flex-direction: row;
    justify-content: center;
  }

  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Styles for larger screens */
@media screen and (min-width: 1025px) {
  .section-container {
    padding: 2rem;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
